<% include partials/header  %>


<div class="login_form">
	<form class="form-horizontal" action="/restaurants/signup" method="post" >
	<div class="form-group">
		<h1 id="logo" class="col-sm-offset-3 col-sm-6"> DELIVERY BOY</h1>
	</div>

	  <div class="form-group <%= locals.number_err ? "has-error" : ""  %>">
	    <label for="inputNumber" class="col-sm-offset-1 col-sm-2 control-label">Phone number</label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" id="inputNumber" name="phone_number" placeholder="Phone number" value=<%= locals.number ? locals.number : ""%> >
	    </div>
	  </div>
	  <div class="form-group <%= locals.username_err ? "has-error" : ""  %>">
	    <label for="inputUserame" class="col-sm-offset-1 col-sm-2 control-label">Username</label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" id="inputUsername" name="username" placeholder="username" value=<%= locals.username ? locals.username : ""%>>
	    </div>
	  </div>

	  <div class="form-group <%= locals.name_err ? "has-error" : ""  %>">
	    <label for="inputRestaurantname" class="col-sm-offset-1 col-sm-2 control-label">Restaurant Name</label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" id="inputRestaurantname" name="name" onFocus="geolocate()" placeholder="Restaurant Name" value=<%= locals.name ? locals.name : ""%>>
	    </div>
	  </div>

	  <div class="form-group <%= locals.company_err ? "has-error" : ""  %>">
	    <label for="inputCompany" class="col-sm-offset-1 col-sm-2 control-label">Company</label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" id="inputCompany" name="company" placeholder="Company" value=<%= locals.company ? locals.company : ""%>>
	    </div>
	  </div>

	  <div class="form-group <%= locals.address_err ? "has-error" : ""  %>">
	    <label for="inputAddress" class="col-sm-offset-1 col-sm-2 control-label">Address</label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" id="inputAddress" name="address" onFocus="geolocate()" placeholder="Address" value=<%= locals.address ? locals.address : ""%>>
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="inputFirstName" class="col-sm-offset-2 col-sm-1 control-label">Boss Name</label>
	    <div class="col-sm-2 <%= locals.firstName_err ? "has-error" : ""  %>">
	      <input type="text" class="form-control" id="inputFirstName" name="firstName" placeholder="First Name" value=<%= locals.firstName ? locals.firstName : ""%>>
	    </div>
	    <!--<label for="inputMidName" class="col-sm-0 control-label">Mid</label>-->
	    <div class="col-sm-2">
	      <input type="text" class="form-control" id="inputMidName" name="midName" placeholder="Mid Name" value=<%= locals.midName ? locals.midName : ""%>>
	    </div>
	    <!--<label for="inputLastName" class="col-sm-1 control-label">Last</label>-->
	    <div class="col-sm-2 <%= locals.lastName_err ? "has-error" : ""  %> ">
	      <input type="text" class="form-control bg-danger" id="inputLastName" name="lastName" placeholder="Last Name" value=<%= locals.lastName ? locals.lastName : ""%>>
	    </div>
	  </div>

	  <div class="form-group <%= locals.passwd_err ? "has-error" : ""  %>">
	    <label for="inputPassword" class="col-sm-offset-1 col-sm-2 control-label">Password</label>
	    <div class="col-sm-6">
	      <input type="password" class="form-control" id="inputPassword" name="passwd" placeholder="Password">
	    </div>
	  </div>

	  <div class="form-group <%= locals.passwdcomfirm_err ? "has-error" : ""  %>">
	    <label for="inputPasswordComfirm" class="col-sm-offset-1 col-sm-2 control-label">Password Comfirm</label>
	    <div class="col-sm-6">
	      <input type="password" class="form-control" id="inputPasswordComfirm" name="passwdcomfirm" placeholder="Comfirm Password">
	    </div>
	  </div>

	  <!--<div class="form-group">-->
	  <!--  <div class="col-sm-offset-2 col-sm-10">-->
	  <!--    <div class="checkbox">-->
	  <!--      <label>-->
	  <!--        <input type="checkbox"> Remember me-->
	  <!--      </label>-->
	  <!--    </div>-->
	  <!--  </div>-->
	  <!--</div>-->
		  <div class="form-group">
		    <div class="col-sm-offset-3 col-sm-6 button-group">

		      <button type="submit" class="btn btn-primary btn-block">Sign Up</button>

		      <!--<button type="button" onclick="location.href='/restaurants/login';" class="btn btn-primary btn-block">Sign In</button>-->
		      <!--<button type="button" onclick="location.href='/users/login';" class="btn btn-primary btn-block">User Sign In</button>-->
		    </div>
		  </div>

	  </div>

	</form>
</div>

<% include partials/footer %>
